
@media screen and (max-width: 545px){
    
    /* img {
        max-width: 10%;
        height: auto;
    
}
         */

        .info_box, .quiz_box, .result_box {
        width: 400px; 
        /* max-width: 10px; */
    }

    .quiz_box .que_text {
        font-size: 5px; 
    }

    .quiz_box .option_list .option {
        font-size: 8px; 
    }

    .footer button {
        font-size: 4px; 
        padding: 0 15px;
    }
}



@media screen and (max-width: 768px) {
    .quiz_box .que_text {
        font-size: 18px;
    }

        img {
            max-width: 100%;
            height: auto;
        
    }
    
}


@media screen and (min-width: 769px) and (max-width: 1024px) {
    .info_box, .quiz_box, .result_box {
        width: 80%; 
        max-width: 600px; 
    }

    .quiz_box .que_text {
        font-size: 20px; 
    }

    .quiz_box .option_list .option {
        font-size: 16px; 
    }

    .footer button {
        font-size: 16px; 
        padding: 0 15px; 
    }
    
}


@media screen and (min-width: 1025px) {
    .info_box, .quiz_box, .result_box {
        width: 100%; 
        max-width: 1024px;
        margin: 0 auto; 
    }

    .quiz_box .que_text {
        font-size: 24px;
    }

    .quiz_box .option_list .option {
        font-size: 18px; 
    }

    .footer button {
        font-size: 18px; 
        padding: 0 20px;
    }
    

}